<section class="topic">
  <h1 class="topic-title">{{ title }}</h1>
  <ul class="topic-prerequisites">
    {% for prereq in prerequisites %}
      <li>{{ prereq }}</li>
      {% else %}
      <li>No prerequisites</li>
    {% endfor %}
  </ul>
</section>
